@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #1A1A1A;
}

.container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}